body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.nav-shadow {
    -webkit-box-shadow: black 0px 0px 3px;
            box-shadow: black 0px 0px 3px;
  }

.whatsapp-button {
    z-index: 100;
}
  
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    background-color: #25d366;
    padding: 5px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 2rem;
    -webkit-box-shadow: 2px 2px 3px #999;
            box-shadow: 2px 2px 3px #999;
  }

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
  }
  
.my-float {
    margin-top: 16px;
  }